<?php $this->load->view('header.html');?>
<div class="templatemo-content-wrapper">
    <div class="templatemo-content">
        <ol class="breadcrumb">
            <li><a href="/home/index">控制台</a></li>
            <li><a href="/home/index">首页</a></li>
        </ol>

            <div class="margin-bottom-30">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <?=$this->username;?>，您好！欢迎来到管理后台！
                </div>
            </div>
			<div class="templatemo-panels">
				<div class="row">
                    <div class="col-md-6 col-sm-6 margin-bottom-30">
                        <div class="panel panel-primary">
                            <div class="panel-heading">User Table</div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John</td>
                                        <td>Smith</td>
                                        <td>@js</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Bill</td>
                                        <td>Jones</td>
                                        <td>@bj</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Marry</td>
                                        <td>James</td>
                                        <td>@mj</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist" id="templatemo-tabs">
							<li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
							<li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
							<li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
							<li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane fade in active" id="home">
								<ul class="list-group">
									<li class="list-group-item"><input type="checkbox" name="" value=""> Suspendisse dapibus sodales</li>
									<li class="list-group-item"><input type="checkbox" name="" value=""> Proin mattis ex vitae</li>
									<li class="list-group-item"><input type="checkbox" name="" value=""> Aenean euismod dui vel</li>
									<li class="list-group-item"><input type="checkbox" name="" value=""> Vivamus dictum posuere odio</li>
									<li class="list-group-item"><input type="checkbox" name="" value=""> Morbi convallis sed nisi suscipit</li>
								</ul>
							</div>
							<div class="tab-pane fade" id="profile">
								<ul class="list-group">
									<li class="list-group-item">
										<span class="badge">33</span>
										Vivamus dictum posuere odio
									</li>
									<li class="list-group-item">
										<span class="badge">9</span>
										Dapibus ac facilisis in
									</li>
									<li class="list-group-item">
										<span class="badge">0</span>
										Morbi convallis sed nisi suscipit
									</li>
									<li class="list-group-item">
										<span class="badge">14</span>
										Cras justo odio
									</li>
									<li class="list-group-item">
										<span class="badge">2</span>
										Vestibulum at eros
									</li>
								</ul>
							</div>
							<div class="tab-pane fade" id="messages">
								<div class="list-group">
									<a href="#" class="list-group-item active">
										Morbi convallis sed nisi suscipit
									</a>
									<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
									<a href="#" class="list-group-item">Morbi leo risus</a>
									<a href="#" class="list-group-item">Porta ac consectetur ac</a>
									<a href="#" class="list-group-item">Vestibulum at eros</a>
								</div>
							</div>
							<div class="tab-pane fade" id="settings">
								<div class="list-group">
									<a href="#" class="list-group-item disabled">
										Vivamus dictum posuere odio
									</a>
									<a href="#" class="list-group-item">Porta ac consectetur ac</a>
									<a href="#" class="list-group-item">Vestibulum at eros</a>
									<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
									<a href="#" class="list-group-item">Morbi leo risus</a>
								</div>
							</div>
						</div> <!-- tab-content -->
					</div>
				</div>
			</div>
		</div>
	</div>
<?php $this->load->view('footer.html');?>