/* 
 * CSS Document for 中钛新
 * http://xxx.com/
 *
 * Copyright 2016, wen
 * http://www.xxx.com/
 *
 * Date: 2016-xx-xx
 * 1、通用
 * 2、登录
 * 3、首次登录修改密码
 * 4、管理首页
 * 5、用户管理
 * 6、账号权限
 * 7、短信
 * 8、体检数据
 * 9、预警处理
 * 10、体检分析
 */

/*--1、通用--*/
html,body{
	height:100%;
	width:100%;
	font-family:'Microsoft YaHei',\5FAE\8F6F\96C5\9ED1,'SimHei',\9ED1\4F53,'LiHei Pro Medium';
	font-size:14px;
	background-color:#fafafa;
}
@font-face {font-family: 'iconfont';
	src: url('../font/iconfont.eot'); /* IE9*/
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.manager_page{
	overflow:hidden;
}
.scrollbar{
	overflow-y:auto !important;
}
input,button{
	font-family:'Microsoft YaHei',\5FAE\8F6F\96C5\9ED1,'SimHei',\9ED1\4F53,'LiHei Pro Medium';
}
a,button{
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.bg_blue{
	background-color:#2da2e5 !important;	
}
.bg_grey{
	background-color:#ececec !important;	
}
.bg_blue1{
	background-color:#0173b2 !important;
}
.bg_orange{
	background-color:#ffcd35 !important;
}
.bg_red{
	background-color:#e30a20 !important;
}
.t_grey{
	color:#888 !important;	
}
.f_green{
	color:#00a021 !important;
}
.f_blue{
	color:#009df4 !important;
}
.f_blue1{
	color:#0173b2 !important;
}
.f_red{
	color:#e30a20 !important;
}
.f_orange{
	color:#ffcd35 !important;
}
.f_green{
	color:#00a021 !important;
}
.bg_disable{
	color:#888 !important;
	background-color:#ececec !important;	
}
.underline{
	border-bottom:solid 1px;
}
.tips_click{
	background:url(about:blank) !important;
}
.btn{
	padding:.5em;
	border:none;
	border-radius:4px;	
	color:#fff;
	cursor:pointer;
}
.btn_blue{
	background-color:#2da2e5;
}
.btn_blue:hover{
	background-color:#53befb;
}
.disabled_btn{
	background-color: #ccc !important;
    color: #eee !important;
    cursor: default !important;
}
.u_details,.u_edit,.u_detail,.u_edits,.u_bianji,.sms_edit,.sms_save,.sms_cancel,.yj_edit,.yj_save,.yj_cancel,.yj_del,.analysis_edit,.admin_bianji{  /* 增加样式 */
	font-size:1.15em;
	cursor:pointer;
	border-bottom:solid 1px;
}
.u_detail,.u_details{
	color:#00a021;
	margin-right:.5em;
}
.u_edit,.u_edits,.u_bianji{
	color:#3db2f6;
	margin-left:.5em;
}
.table_m2 th,.table_m2 td{
	padding:.5em;
	font-size:1.15em;
	text-align:center;
	border:solid 1px #ccc;
	font-weight:normal;
	vertical-align:middle;
}
.table_m2 td span[contenteditable],span[contenteditable]{
	display:block;
	min-height:1em;
}
.table_m2 .input{
    text-align: left;
}
.pagebox{
	margin:5.6em 0 2em;
}
.pagebox a{
	display:inline-block;
	color:#000;
	border:solid 1px #ccc;
	font-size:1.15em;
	padding:.5em .8em;
	margin:.5em 0;
}
.pagebox .current{
	background-color:#2da2e5;
	color:#fff;
}
.pagebox form{
	display:inline-block;
	padding-left:2em;
	font-size:1.15em;
	zoom:1;
	*display:inline;
	*vertical-align:text-bottom;
}
.pagebox input{
	border:solid 1px #ccc;
	text-align:center;
	width:3em;
	padding:.5em 0;
	background:none;
	*vertical-align:middle;
}
.pagebox button{
	padding:.5em .5em;
	cursor:pointer;
	border:solid 1px #ccc;
	background-color:#ececec;	
	*padding:.3em .5em;
	*vertical-align:middle;
}
/*弹框通用*/
body .popup-class{
	background:#fafafa;
	border: solid 1px #ccc; 
	border-radius:0;
}
body .popup-class .layui-layer-btn{
	text-align:center;
	padding:0 0 2em 0;
	font-size:1.15em;
	letter-spacing: .2em;
}
body .popup-class .layui-layer-title{
	background:none;
	border:none;
	height:1.5em;
}
body .popup-class .layui-layer-content{
	padding-top:.5em;
}
body .popup-class .layui-layer-btn a{
	color:#fff;
	border-radius:4px;
}
body .popup-class .layui-layer-btn .layui-layer-btn0,
body .popup-class .layui-layer-btn .layui-layer-btn1,
body .popup-class .layui-layer-btn .layui-layer-btn2{
	background-color:#2da2e5;
	padding:.3em 0em;
	border:none;
	margin:0 1em;
	width: 7em;
}

body .popup-zIndex-class{
	z-index:2147483648 !important;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.6);
}


/*--3、首次登录修改密码--*/
.changepassbox .err_tips{
	padding: 1em 1em 1.5em;  
    display: block;
}
.changepass_btn{
	padding-bottom:2em;
}

/*--4、管理首页--*/
.header{
	height:70px;
	position:relative;
	background-color:#4d8bd4;
}
.logo_white{
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:220px;
	height:70px;
	background-color:#0173b2;
}
.header h1{
	padding-left:270px;
	font-size:1.7em;
	line-height:70px;
	color:#fff;
}
.current_user{
	position: absolute;
    right: 100px;
    padding-left: 30px;
    height: 20px;
    color: #fff;
    background: url(../images/icon_list.png) no-repeat -7px -1160px;
    top: 25px;
}
.exit_admin{
	position:absolute;
	right:0;
	top:0;
	width:70px;
	height:70px;
	line-height:70px;
	color:#fff;
	cursor:pointer;
	background-color:#2363bb;
}
.menu{
	position:absolute;
	width:220px;
	height:auto;
	top:70px;
	left:0;
	bottom:0;
	background-color:#53befb;
	overflow:hidden;
}
.menu ul{
	width:220px;
	margin-bottom:2em;
}
.menu li a{
	display:block;
	/*height:50px;
	line-height:50px;*/
	padding:.9em .5em .9em 3em;
	color:#ffffff;
	font-size:1.3em;
	border-bottom:solid 1px #9fdbfd;
	background-repeat:no-repeat;
	-webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.menu li .icon{
	margin-right:20px;
	}
.menu li a:hover{
	color:#1a8ae0;
	background-color:#fafafa;
}
.menu li.current a{
	color:#1a8ae0;
	background-color:#fafafa;
}

.menu li a.menu_ico{
    background-position:42px -433px;
}
.menu li.current a.menu_ico{
    background-position:42px -932px;
}
.menu li a.ico_1{
	background-position:42px -131px;
}
.menu li.current a.ico_1{
	background-position:42px -630px;
}
.menu li a.ico_2{
	background-position:42px -185px;
}
.menu li.current a.ico_2{
	background-position:42px -684px;
}
.menu li a.ico_3{
	background-position:42px -233px;
}
.menu li.current a.ico_3{
	background-position:42px -732px;
}
.menu li a.ico_4{
	background-position:42px -283px;
}
.menu li.current a.ico_4{
	background-position:42px -782px;
}
.menu li a.ico_5{
	background-position:42px -332px;
}
.menu li.current a.ico_5{
	background-position:42px -831px;
}
.menu li a.ico_6{
	background-position:42px -382px;
}
.menu li.current a.ico_6{
	background-position:42px -881px;
}
.menu li a.ico_7{
	background-position:42px -433px;
}
.menu li.current a.ico_7{
	background-position:42px -932px;
}
.menu li a.ico_8{
	background-position:42px -483px;
}
.menu li.current a.ico_8{
	background-position:42px -982px;
}
.menu li a.ico_9{
	background-position:42px -533px;
}
.menu li.current a.ico_9{
	background-position:42px -1032px;
}
.menu li a.ico_10{
	background-position:42px -582px;
}
.menu li.current a.ico_10{
	background-position:42px -1081px;
}
.menu li a.ico_11{
	background-position:42px -1380px;
}
.menu li.current a.ico_11{
	background-position:42px -1461px;
}


.frameContainer{
	position:absolute;
	top:70px;
	left:220px;
	bottom:0;
	right:0;
	background-color:#fafafa;
}
.loading{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	background:url(../images/loader-icon.gif) no-repeat center center #fafafa;
}
#mainFrame{
	height:100%;
	width:100%;
	position:absolute;
}


